<footer class="bg-[#fe884c] text-white">
  <div class="max-w-7xl mx-auto py-10 lg:py-20 px-2 lg:px-0">
    <div class="w-full flex flex-col md:flex-row gap-10 lg:gap-0">
      <!-- Logo and Social Icons Section -->
      <div class="w-1/5 space-y-3 md:space-y-5">
        <h2 class="text-3xl lg:text-4xl font-bold">LOGO</h2>
        <div class="flex gap-4 items-center mt-4">
          <!-- Facebook Icon -->
          <a
            href="https://facebook.com"
            class="text-white text-3xl lg:text-4xl"
          >
            <i class="fab fa-facebook"></i>
          </a>
          <!-- Instagram Icon -->
          <a
            href="https://instagram.com"
            class="text-white text-3xl lg:text-4xl"
          >
            <i class="fab fa-instagram"></i>
          </a>
          <!-- YouTube Icon -->
          <a href="https://youtube.com" class="text-white text-3xl lg:text-4xl">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>

      <div class="w-4/5 flex flex-col md:flex-row">
        <div class="w-full md:w-1/2 flex">
          <!-- quick links -->
          <div class="w-1/2 space-y-5">
            <h2 class="text-xl font-bold">Quick links</h2>
            <div class="flex flex-col gap-2 items-start mt-4">
              <a href="https://facebook.com" class="">
                <p>Home</p>
              </a>
              <a href="https://facebook.com" class="">
                <p>About Us</p>
              </a>
              <a href="https://facebook.com" class="">
                <p>Testimonials</p>
              </a>
              <a href="https://facebook.com" class="">
                <p>Services</p>
              </a>
            </div>
          </div>

          <!-- Our Solution -->
          <div class="w-1/2 space-y-5">
            <h2 class="text-xl font-bold">Our Solution</h2>
            <div class="flex flex-col gap-2 items-start mt-4">
              <p>Modular kitchen and bedroom</p>
              <p>Commercial and residential renovations</p>
              <p>Office workstation</p>
              <p>Final touches</p>
              <p>Constructions</p>
              <p>Turnkey Projects</p>
            </div>
          </div>
        </div>

        <div class="w-full md:w-1/2 flex">
          <!-- Location and Timing -->
          <div class="w-1/2 space-y-5">
            <h2 class="text-xl font-bold">Location & Timings</h2>
            <div class="flex flex-col gap-2 items-start mt-4">
              <p>abcd@location</p>
              <p>Mon to Sat</p>
              <p>9:00 am to 6:30 pm</p>
            </div>
          </div>

          <!-- Contact Us -->
          <div class="w-1/2 space-y-5">
            <h2 class="text-xl font-bold">Contact Us</h2>
            <div class="flex flex-col gap-2 items-start mt-4">
              <p>interiors.mydesign@gmail.com</p>
              <p>+91 9953 228 642</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
