<section class="bg-cover bg-center h-[85vh] relative" style="background-image: url('images/background.webp');">
  <!-- Dark Overlay -->
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <!-- Content -->
  <section class="relative h-full max-w-6xl mx-auto z-10">
    <div class="absolute top-0 w-full">
      <%- include("header_nav.ejs") %>
    </div>
    <div class="h-full flex justify-center items-center">
      <div class="text-center text-white">
        <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold">Transforming Spaces, Elevating Lifestyles</h1>
        <p class="mt-4 text-lg">We create interior designs that perfectly balance your personal style, functionality, and vision.</p>
      </div>
    </div>
  </section>
</section>