<section class="py-10 lg:py-20 bg-[#fff5e4] px-2 lg:px-0">
  <div class="max-w-7xl mx-auto">
    <div class="">
      <%- include('sectionHeading', { text: 'Project gallery' }) %>
    </div>

    <div class="mt-5">
      <p class="text-lg">
        Explore our masterpiece of completed projects and see how we bring ideas
        to life. Each project showcases our commitment to quality, creativity,
        and client satisfaction. Get inspired by our work and envision your own
        transformation
      </p>
      <div class="mt-7 lg:mt-10">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
          <!-- Gallery Image 1 -->
          <div
            class="rounded-2xl w-full h-[200px] md:h-[250px] lg:h-[300px] overflow-hidden hover:scale-[102%] hover:shadow-lg transition-all duration-500"
          >
            <img
              src="https://amazingarchitecture.com/storage/files/1/Articles/house/cozy_living_room.jpg"
              alt="Gallery Image 1"
              class="w-full h-full object-cover object-center"
            />
          </div>

          <!-- Gallery Image 2 -->
          <div
            class="rounded-2xl w-full h-[200px] md:h-[250px] lg:h-[300px] overflow-hidden hover:scale-[102%] hover:shadow-lg transition-all duration-500"
          >
            <img
              src="https://amazingarchitecture.com/storage/files/1/Articles/house/cozy_living_room.jpg"
              alt="Gallery Image 1"
              class="w-full h-full object-cover object-center"
            />
          </div>

          <!-- Gallery Image 3 -->
          <div
            class="rounded-2xl w-full h-[200px] md:h-[250px] lg:h-[300px] overflow-hidden hover:scale-[102%] hover:shadow-lg transition-all duration-500"
          >
            <img
              src="https://amazingarchitecture.com/storage/files/1/Articles/house/cozy_living_room.jpg"
              alt="Gallery Image 1"
              class="w-full h-full object-cover object-center"
            />
          </div>

          <!-- Gallery Image 4 -->
          <div
            class="rounded-2xl w-full h-[200px] md:h-[250px] lg:h-[300px] overflow-hidden hover:scale-[102%] hover:shadow-lg transition-all duration-500"
          >
            <img
              src="https://amazingarchitecture.com/storage/files/1/Articles/house/cozy_living_room.jpg"
              alt="Gallery Image 1"
              class="w-full h-full object-cover object-center"
            />
          </div>

          <!-- Gallery Image 5 -->
          <div
            class="rounded-2xl w-full h-[200px] md:h-[250px] lg:h-[300px] overflow-hidden hover:scale-[102%] hover:shadow-lg transition-all duration-500"
          >
            <img
              src="https://amazingarchitecture.com/storage/files/1/Articles/house/cozy_living_room.jpg"
              alt="Gallery Image 1"
              class="w-full h-full object-cover object-center"
            />
          </div>

          <!-- Gallery Image 6 -->
          <div
            class="rounded-2xl w-full h-[200px] md:h-[250px] lg:h-[300px] overflow-hidden hover:scale-[102%] hover:shadow-lg transition-all duration-500"
          >
            <img
              src="https://amazingarchitecture.com/storage/files/1/Articles/house/cozy_living_room.jpg"
              alt="Gallery Image 1"
              class="w-full h-full object-cover object-center"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- our smart process -->
    <div class="mt-10 lg:mt-20">
      <div class="space-y-5">
        <?php  renderSectionHeading('Our smart Process'); ?>
        <p>
          Our smart process combines innovation, efficiency, and quality to
          deliver exceptional interiors. We seamlessly manage every step, from
          conceptual design to flawless execution. With a focus on precision and
          client satisfaction, we ensure a smooth, hassle-free experience
        </p>
      </div>
      <div class="mt-10">
        <div
          class="flex flex-col lg:flex-row justify-center items-center gap-8 md:gap-10 lg:gap-20"
        >
          <!-- smart Process 1 -->
          <div class="space-y-3 lg:space-y-4 text-center">
            <div
              class="h-[140px] md:h-[170px] w-[140px] md:w-[170px] flex items-center justify-center rounded-full bg-[#fe9901]"
            >
              <i
                class="fa-solid fa-people-arrows text-4xl lg:text-6xl text-white"
              ></i>
            </div>
            <h4 class="text-xl md:text-2xl lg:text-3xl font-bold text-black">
              Consultation
            </h4>
          </div>

          <!-- smart Process 2 -->
          <div class="space-y-3 lg:space-y-4 text-center">
            <div
              class="h-[140px] md:h-[170px] w-[140px] md:w-[170px] flex items-center justify-center rounded-full bg-[#fe9901]"
            >
              <i
                class="fa-solid fa-people-arrows text-4xl lg:text-6xl text-white"
              ></i>
            </div>
            <h4 class="text-xl md:text-2xl lg:text-3xl font-bold text-black">
              Planning
            </h4>
          </div>

          <!-- smart Process 3 -->
          <div class="space-y-3 lg:space-y-4 text-center">
            <div
              class="h-[140px] md:h-[170px] w-[140px] md:w-[170px] flex items-center justify-center rounded-full bg-[#fe9901]"
            >
              <i class="fa-solid fa-gear text-4xl lg:text-6xl text-white"></i>
            </div>
            <h4 class="text-xl md:text-2xl lg:text-3xl font-bold text-black">
              Execution
            </h4>
          </div>

          <!-- smart Process 4 -->
          <div class="space-y-3 lg:space-y-4 text-center">
            <div
              class="h-[140px] md:h-[170px] w-[140px] md:w-[170px] flex items-center justify-center rounded-full bg-[#fe9901]"
            >
              <i
                class="fa-solid fa-people-arrows text-4xl lg:text-6xl text-white"
              ></i>
            </div>
            <h4 class="text-xl md:text-2xl lg:text-3xl font-bold text-black">
              Handover
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
