<section class="py-10 lg:py-20 px-2 lg:px-0">
  <div class="max-w-7xl mx-auto">
    <div class="space-y-3">
      <%- include('sectionHeading', { text: 'What Our Clients Say' }) %>

      <p class="text-lg">
        Discover the impact of our work from those who matter most—our clients.
        Their testimonials showcase the trust and satisfaction we've earned
        through exceptional design and personalized service.
      </p>
    </div>

    <div class="mt-10 px-3">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
        <!-- testimonial card 1 -->
        <div class="p-5 bg-[#fff5e4] rounded-xl space-y-3">
          <div
            class="rounded-xl w-[70px] lg:w-[100px] h-[70px] lg:h-[100px] overflow-hidden"
          >
            <img
              src="https://amazingarchitecture.com/storage/files/1/Articles/house/cozy_living_room.jpg"
              alt="Gallery Image 1"
              class="w-full h-full object-cover object-center"
            />
          </div>
          <h3 class="font-bold text-xl">Akhil Winster</h3>
          <p>
            Working with My interiors and constructions was an absolute
            pleasure! Their attention to detail and creative approach brought
            our vision to life in a way we never imagined. The team s
            professionalism and commitment to excellence made the entire process
            seamless, and we couldn t be happier with the end result. Highly
            recommend for anyone looking to transform their space
          </p>
        </div>

        <!-- testimonial card 2 -->
        <div class="p-5 bg-[#fff5e4] rounded-xl space-y-3">
          <div
            class="rounded-xl w-[70px] lg:w-[100px] h-[70px] lg:h-[100px] overflow-hidden"
          >
            <img
              src="https://amazingarchitecture.com/storage/files/1/Articles/house/cozy_living_room.jpg"
              alt="Gallery Image 1"
              class="w-full h-full object-cover object-center"
            />
          </div>
          <h3 class="font-bold text-xl">Shilpa Winster</h3>
          <p>
            Working with My interiors and constructions was an absolute
            pleasure! Their attention to detail and creative approach brought
            our vision to life in a way we never imagined. The team s
            professionalism and commitment to excellence made the entire process
            seamless, and we couldn t be happier with the end result. Highly
            recommend for anyone looking to transform their space.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
